<div class="row animated fadeIn">
    <div class="col-12 col-md-3 padding-galery-img">
        <img class="img-fluid" src="/assets/hopping/imagotipo_hopping.png" alt="">
        <label class="btn btn-sm btn-rosa col-12">
            <input type="file" style="display: none">Editar <i class="fa fa-pencil"></i>
        </label>
    </div>
    <div class="col-12 col-md-3 padding-galery-img">
        <img class="img-fluid" src="/assets/hopping/imagotipo_hopping.png" alt="">
        <label class="btn btn-sm btn-rosa col-12">
            <input type="file" style="display: none">Editar <i class="fa fa-pencil"></i>
        </label>
    </div>
    <div class="col-12 col-md-3 padding-galery-img">
        <img class="img-fluid" src="/assets/hopping/imagotipo_hopping.png" alt="">
        <label class="btn btn-sm btn-rosa col-12">
            <input type="file" style="display: none">Editar <i class="fa fa-pencil"></i>
        </label>
    </div>
    <div class="col-12 col-md-3 padding-galery-img">
        <img class="img-fluid" src="/assets/hopping/imagotipo_hopping.png" alt="">
        <label class="btn btn-sm btn-rosa col-12">
            <input type="file" style="display: none">Editar <i class="fa fa-pencil"></i>
        </label>
    </div>
    <div class="col-12 col-md-3 padding-galery-img">
        <img class="img-fluid" src="/assets/hopping/imagotipo_hopping.png" alt="">
        <label class="btn btn-sm btn-rosa col-12">
            <input type="file" style="display: none">Editar <i class="fa fa-pencil"></i>
        </label>
    </div>
    <div class="col-12 col-md-3 padding-galery-img">
        <img class="img-fluid" src="/assets/hopping/imagotipo_hopping.png" alt="">
        <label class="btn btn-sm btn-rosa col-12">
            <input type="file" style="display: none">Editar <i class="fa fa-pencil"></i>
        </label>
    </div>
    <div class="col-12 col-md-3 padding-galery-img">
        <img class="img-fluid" src="/assets/hopping/imagotipo_hopping.png" alt="">
        <label class="btn btn-sm btn-rosa col-12">
            <input type="file" style="display: none">Editar <i class="fa fa-pencil"></i>
        </label>
    </div>
    <div class="col-12 col-md-3 padding-galery-img">
        <img class="img-fluid" src="/assets/hopping/imagotipo_hopping.png" alt="">
        <label class="btn btn-sm btn-rosa col-12">
            <input type="file" style="display: none">Editar <i class="fa fa-pencil"></i>
        </label>
    </div>
    <div class="col-12 col-md-3 padding-galery-img">
        <img class="img-fluid" src="/assets/hopping/imagotipo_hopping.png" alt="">
        <label class="btn btn-sm btn-rosa col-12">
            <input type="file" style="display: none">Editar <i class="fa fa-pencil"></i>
        </label>
    </div>
    <div class="col-12 col-md-3 padding-galery-img">
        <img class="img-fluid" src="/assets/hopping/imagotipo_hopping.png" alt="">
        <label class="btn btn-sm btn-rosa col-12">
            <input type="file" style="display: none">Editar <i class="fa fa-pencil"></i>
        </label>
    </div>
</div>
