<div class="row animated fadeIn">
    <div class="col-12 col-md-3 padding-galery-img">
        <img class="img-fluid" src="/assets/hopping/imagotipo_hopping.png" alt="">
        <button class="btn btn-sm btn-rosa col-12">Editar <i class="fa fa-pencil"></i> </button>
    </div>
    <div class="col-12 col-md-3 padding-galery-img">
        <img class="img-fluid" src="/assets/hopping/imagotipo_hopping.png" alt="">
        <button class="btn btn-sm btn-rosa col-12">Editar <i class="fa fa-pencil"></i> </button>
    </div>
    <div class="col-12 col-md-3 padding-galery-img">
        <img class="img-fluid" src="/assets/hopping/imagotipo_hopping.png" alt="">
        <button class="btn btn-sm btn-rosa col-12">Editar <i class="fa fa-pencil"></i> </button>
    </div>
    <div class="col-12 col-md-3 padding-galery-img">
        <img class="img-fluid" src="/assets/hopping/imagotipo_hopping.png" alt="">
        <button class="btn btn-sm btn-rosa col-12">Editar <i class="fa fa-pencil"></i> </button>
    </div>
    <div class="col-12 col-md-3 padding-galery-img">
        <img class="img-fluid" src="/assets/hopping/imagotipo_hopping.png" alt="">
        <button class="btn btn-sm btn-rosa col-12">Editar <i class="fa fa-pencil"></i> </button>
    </div>
    <div class="col-12 col-md-3 padding-galery-img">
        <img class="img-fluid" src="/assets/hopping/imagotipo_hopping.png" alt="">
        <button class="btn btn-sm btn-rosa col-12">Editar <i class="fa fa-pencil"></i> </button>
    </div>
    <div class="col-12 col-md-3 padding-galery-img">
        <img class="img-fluid" src="/assets/hopping/imagotipo_hopping.png" alt="">
        <button class="btn btn-sm btn-rosa col-12">Editar <i class="fa fa-pencil"></i> </button>
    </div>
    <div class="col-12 col-md-3 padding-galery-img">
        <img class="img-fluid" src="/assets/hopping/imagotipo_hopping.png" alt="">
        <button class="btn btn-sm btn-rosa col-12">Editar <i class="fa fa-pencil"></i> </button>
    </div>
    <div class="col-12 col-md-3 padding-galery-img">
        <img class="img-fluid" src="/assets/hopping/imagotipo_hopping.png" alt="">
        <button class="btn btn-sm btn-rosa col-12">Cambiar <i class="fa fa-pencil"></i> </button>
    </div>
    <div class="col-12 col-md-3 padding-galery-img">
        <img class="img-fluid" src="/assets/hopping/imagotipo_hopping.png" alt="">
        <button class="btn btn-sm btn-rosa col-12">Cambiar <i class="fa fa-pencil"></i> </button>
    </div>
</div>
