<h1 class="text-center">Mi Hop</h1>
<hr>
<div *ngIf="plan != 'simple'">
	<mat-accordion  *ngFor="let hop of noHops; let i_global = index">
		<mat-expansion-panel>
			<mat-expansion-panel-header>
				<mat-panel-title>DIRECCION</mat-panel-title>
				<mat-panel-description>DESCRIPCION</mat-panel-description>
			</mat-expansion-panel-header>
			<div class="">
				<form (ngSubmit)="getData(objeto[i_global].value)" #objeto[i_global]="ngForm" novalidate="" class="animated fadeIn">
					<h4 class="text-center">HORARIOS DE SERVICIO</h4>
					<br>
					<div class="container">
						<div class="row">
							<div class="col col-6  col-sm-3" *ngFor="let item of weekServicio; let i = index">
								<mat-checkbox (click)="showList([i_global], i)"
											  ngModel name="{{ item | lowercase }}Servicio">{{ item }}
							  	</mat-checkbox>
							</div>
							<div class="col-12 col-sm-6">
								<mat-form-field class="col-12">
									<mat-select placeholder="Hora de inicio" name="horaApertura" ngModel>
										<mat-option *ngFor="let hora of horas" value="{{ hora.value }}">
											{{ hora.viewValue }}
										</mat-option>
									</mat-select>
								</mat-form-field>
							</div>
							<div class="col-12 col-sm-6">
								<mat-form-field class="col-12">
									<mat-select placeholder="Hora de termino" name="horaCierre" ngModel>
										<mat-option *ngFor="let hora of horas" value="{{ hora.value }}">
											{{ hora.viewValue }}
										</mat-option>
									</mat-select>
								</mat-form-field>
							</div>
						</div>
					</div>
					<hr>
					<h4 class="text-center">HORARIOS DE RESERVACIÓN</h4>
					<div class="container">
						<br>
						<div class="row">
							<div class="col col-6  col-sm-3" *ngFor="let item of weekServicio; let i = index">
								<mat-checkbox ngModel [disabled]="weekReservacion[i_global][i]"
										name="{{ item | lowercase }}Reservacion">{{ item }}</mat-checkbox>
							</div>
						</div>
						<div class="row">
							<div class="col-12 col-sm-6">
								<mat-form-field class="col-12">
									<mat-select placeholder="Hora de inicio" name="reservacionInicio" ngModel>
										<mat-option *ngFor="let hora of horas" value="{{ hora.value }}">
											{{ hora.viewValue }}
										</mat-option>
									</mat-select>
								</mat-form-field>
							</div>
							<div class="col-12 col-sm-6">
								<mat-form-field class="col-12">
									<mat-select placeholder="Hora de termino" name="reservacionTermino" ngModel>
										<mat-option *ngFor="let hora of horas" value="{{ hora.value }}">
											{{ hora.viewValue }}
										</mat-option>
									</mat-select>
								</mat-form-field>
							</div>
							<div class="col-12 col-md-12">
								<button (click)="onClick(i_global)" class="btn btn-rosa col-12">GUARDAR</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</mat-expansion-panel>
		<br>
	</mat-accordion>
</div>
<div *ngIf="plan === 'simple'">
	<form (ngSubmit)="getData(objeto.value)" #objeto="ngForm" novalidate="" class="animated fadeIn">
		<h4 class="text-center">HORARIOS DE SERVICIO</h4>
		<br>
		<div class="container">
			<div class="row">
				<div class="col col-6  col-sm-3" *ngFor="let item of weekServicio; let i = index">
					<mat-checkbox (click)="showList(i)"
								  ngModel name="{{ item | lowercase }}Servicio">{{ item }}
				  	</mat-checkbox>
				</div>
				<div class="col-12 col-sm-6">
					<mat-form-field class="col-12">
						<mat-select placeholder="Hora de inicio" name="horaApertura" ngModel>
							<mat-option *ngFor="let hora of horas" value="{{ hora.value }}">
								{{ hora.viewValue }}
							</mat-option>
						</mat-select>
					</mat-form-field>
				</div>
				<div class="col-12 col-sm-6">
					<mat-form-field class="col-12">
						<mat-select placeholder="Hora de termino" name="horaCierre" ngModel>
							<mat-option *ngFor="let hora of horas" value="{{ hora.value }}">
								{{ hora.viewValue }}
							</mat-option>
						</mat-select>
					</mat-form-field>
				</div>
			</div>
		</div>
		<hr>
		<h4 class="text-center">HORARIOS DE RESERVACIÓN</h4>
		<div class="container">
			<br>
			<div class="row">
				<div class="col col-6  col-sm-3" *ngFor="let item of weekServicio; let i = index">
					<mat-checkbox ngModel [disabled]="weekReservacion[i][0]"
								name="{{ item | lowercase }}Reservacion">{{ item }}</mat-checkbox>
				</div>
			</div>
			<div class="row">
				<div class="col-12 col-sm-6">
					<mat-form-field class="col-12">
						<mat-select placeholder="Hora de inicio" name="reservacionInicio" ngModel>
							<mat-option *ngFor="let hora of horas" value="{{ hora.value }}">
								{{ hora.viewValue }}
							</mat-option>
						</mat-select>
					</mat-form-field>
				</div>
				<div class="col-12 col-sm-6">
					<mat-form-field class="col-12">
						<mat-select placeholder="Hora de termino" name="reservacionTermino" ngModel>
							<mat-option *ngFor="let hora of horas" value="{{ hora.value }}">
								{{ hora.viewValue }}
							</mat-option>
						</mat-select>
					</mat-form-field>
				</div>
				<div class="col-12 col-md-12">
					<button (click)="onClick()" class="btn btn-rosa col-12">GUARDAR</button>
				</div>
			</div>
		</div>
	</form>
	<br>
</div>
