<h1 class="text-center">Mi Hop</h1>
<hr>
<h4 class="text-center">DÍAS DE OPERACIÓN</h4>
<br>
<form (ngSubmit)="por(objeto)" #objeto="ngForm" novalidate="" class="animated fadeIn">
	<div class="container">
		<div class="row">
			<div class="col col-6  col-sm-3" *ngFor="let item of week">
				<mat-checkbox>{{ item }}</mat-checkbox>
			</div>
		</div>
	</div>
	<hr>
	<h4 class="text-center">HORARIOS DE RESERVACIÓN</h4>
	<div class="container">
		<div class="row">
			<div class="col-12 col-sm-6">
				<mat-form-field class="col-12">
					<mat-select placeholder="Hora de inicio" name="horas" ngModel>
						<mat-option *ngFor="let hora of horas" [value]="horas.value">
							{{ hora.viewValue }}
						</mat-option>
					</mat-select>
				</mat-form-field>
			</div>
			<div class="col-12 col-sm-6">
				<mat-form-field class="col-12">
					<mat-select placeholder="Hora de termino" name="hora" ngModel>
						<mat-option *ngFor="let hora of horas" [value]="horas.value">
							{{ hora.viewValue }}
						</mat-option>
					</mat-select>
				</mat-form-field>
			</div>
			<div class="col-12 col-md-12">
				<button class="btn btn-rosa col-12">GUARDAR</button>
			</div>
		</div>
	</div>
</form>
