<div class="row animated fadeIn">
  <div class="col-12 col-sm-6 col-md-4 col-lg-3 padding-galery-img">
    <img class="img-fluid" src="/assets/hopping/imagotipo_hopping.png" alt="">
    <div class="row">
      <button class="btn btn-sm btn-rosa col-7">Subir <i class="fa fa-upload"></i> </button>
      <button class="btn btn-sm btn-danger col-2 col-sm-3"><i class="fa fa-trash"></i></button>
    </div>
  </div>
  <div class="col-12 col-sm-6 col-md-4 col-lg-3 padding-galery-img">
    <img class="img-fluid" src="/assets/hopping/imagotipo_hopping.png" alt="">
    <div class="row">
      <button class="btn btn-sm btn-rosa col-7">Subir <i class="fa fa-upload"></i> </button>
      <button class="btn btn-sm btn-danger col-2 col-sm-3"><i class="fa fa-trash"></i></button>
    </div>
  </div>
  <div class="col-12 col-sm-6 col-md-4 col-lg-3 padding-galery-img">
    <img class="img-fluid" src="/assets/hopping/imagotipo_hopping.png" alt="">
    <div class="row">
      <button class="btn btn-sm btn-rosa col-7">Subir <i class="fa fa-upload"></i> </button>
      <button class="btn btn-sm btn-danger col-2 col-sm-3"><i class="fa fa-trash"></i></button>
    </div>
  </div>
  <div class="col-12 col-sm-6 col-md-4 col-lg-3 padding-galery-img">
    <img class="img-fluid" src="/assets/hopping/imagotipo_hopping.png" alt="">
    <div class="row">
      <button class="btn btn-sm btn-rosa col-7">Subir <i class="fa fa-upload"></i> </button>
      <button class="btn btn-sm btn-danger col-2 col-sm-3"><i class="fa fa-trash"></i></button>
    </div>
  </div>
</div>
