<app-login *ngIf="!(_authService.user | async)"></app-login>
<mat-sidenav-container *ngIf="(_authService.user | async)">
	<mat-sidenav #sidenav mode="side" [opened]="menu">
		<div class="percent-menu"></div>
		<app-menubar style="height: 100vh"></app-menubar>
	</mat-sidenav>
	<mat-toolbar class="text-light" color="accent">
		<button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon aria-label="MENU">menu</mat-icon>
  </button>
	</mat-toolbar>
	<div class="container" style="position:relative; min-height: calc(100vh - 195px);">
		<div class="centrado-porcentual" *ngIf="!dataStatus">
			<div class="row">
				<button type="button" class="btn btn-success" (click)="this._dialog.newHopDialog()">REGISTRA TU HOP</button>
			</div>
		</div>
		<router-outlet *ngIf="dataStatus"></router-outlet>
	</div>
	<app-footer></app-footer>
</mat-sidenav-container>
