<h1 class="text-center">Feed</h1>
<div class="row">
  <div class="col-12 col-md-3 padding-galery-img">
    <img class="img-fluid" src="/assets/hopping/imagotipo_hopping.png" alt="">
    <div class="row">
      <button class="btn btn-sm btn-rosa col-8">Subir <i class="fa fa-upload"></i> </button>
      <button class="btn btn-sm btn-danger col-1"><i class="fa fa-trash"></i></button>
    </div>
  </div>
  <div class="col-12 col-md-3 padding-galery-img">
    <img class="img-fluid" src="/assets/hopping/imagotipo_hopping.png" alt="">
    <div class="row">
      <button class="btn btn-sm btn-rosa col-8">Subir <i class="fa fa-upload"></i> </button>
      <button class="btn btn-sm btn-danger col-1"><i class="fa fa-trash"></i></button>
    </div>
  </div>
  <div class="col-12 col-md-3 padding-galery-img">
    <img class="img-fluid" src="/assets/hopping/imagotipo_hopping.png" alt="">
    <div class="row">
      <button class="btn btn-sm btn-rosa col-8">Subir <i class="fa fa-upload"></i> </button>
      <button class="btn btn-sm btn-danger col-1"><i class="fa fa-trash"></i></button>
    </div>
  </div>
  <div class="col-12 col-md-3 padding-galery-img">
    <img class="img-fluid" src="/assets/hopping/imagotipo_hopping.png" alt="">
    <div class="row">
      <button class="btn btn-sm btn-rosa col-8">Subir <i class="fa fa-upload"></i> </button>
      <button class="btn btn-sm btn-danger col-1"><i class="fa fa-trash"></i></button>
    </div>
  </div>
</div>
