<h1 class="text-center">Reservaciones</h1>
<div class="container animated fadeIn">
  <div class="row">
    <mat-form-field class="col-6">
      <input matInput placeholder="Buscar" value="">
    </mat-form-field>
    <hr>
    <div class="col-12 col-md-6 text-right">
      <h4>Fecha: {{'2018-05-10' | date:'dd/MM/yyyy'}}</h4>
    </div>

    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <!-- <th scope="col">HORA</th>
            <th scope="col">FECHA</th> -->
            <th scope="col">NOMBRE</th>
            <th scope="col">PERSONAS</th>
            <th scope="col">STATUS</th>
          </tr>
        </thead>
        <tbody *ngFor="let item of reservaciones">
          <tr>
            <!-- <th scope="row">20:00</th> -->
            <!-- <td>30/05/2018</td> -->
            <td>{{ item.reservacion.nombre }}</td>
            <td>{{ item.reservacion.no_personas }}</td>
            <td class="center"><mat-checkbox value={{item.reservacion.status}}></mat-checkbox></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
