<div class="wrapper">
    <aside class="main_sidebar">
        <ul>
					<div class="center-profile">
						<img class="circle-picture img-responsive center-block" src="/assets/hopping/imagotipo_hopping.png" alt="Avatar">
					</div>

            <li><i class="fa fa-home"></i><a href="#">My Hop</a></li>
            <li><i class="fa fa-info-circle"></i><a href="#">Detalles cuenta</a></li>
            <li class="active"><i class="fa fa-bell"></i><a href="#">Reservaciones</a></li>
            <li><i class="fa fa-percent"></i><a href="#">Promociones</a></li>
            <li><i class="fa fa-image"></i><a href="#">Galeria</a></li>
            <li><i class="fa fa-eye"></i><a href="#">Feed</a></li>
            <li><i class="fa fa-ellipsis-h"></i><a href="#">Opciones</a></li>
        </ul>
    </aside>
    <div class="mian">
        <h1>Prakash </h1>
    </div>
</div>
