@import "~@angular/material/prebuilt-themes/indigo-pink.css";+

.container {
	margin-top: 10px;
	margin-bottom: 10px
}

.button-social {
	margin: 20px;
	font-size: 25px;
}

.mat-checkbot .mat-accent {
  border-color:rgb(66, 134, 244);
}

.mat-checkbot .mat-accent {
  color:rgb(66, 134, 244);
  background-color:rgb(66, 134, 244) ;
}

.mat-checkbot .mat-accent {
    background-color:rgb(255, 37, 37,.26)
}

.btn-rosa{
	background: #ED5183;
}

.padding-10 {
	padding: 10px;
}
.padding-top {
	padding-top: 10px
}

.padding-galery-img{
	padding: 20px
}

.percent-menu{
	width: 300px;
}

.centrado-porcentual {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

agm-map {
	height: 400px;
}

.fa {
	margin: 0 10px;
}


/* @media screen and (max-width: 400px) {
  .percent-menu{
    width: 350%;
  }
} */

/* ANIMACIONES */
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fast {
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}
